html {
    font-family: 'Nunito', sans-serif;
    margin-left: 10%;
    margin-right: 10%;
    padding: 0px;  
}

button {
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    overflow: visible;
    background: transparent;
}
h3 {
    font-size: 22px;
}

textarea {
    border: none;
    resize: none;
    padding:10px;
    background-color: gainsboro;
    border-radius: 5px;
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
    height: 28px;
    margin-bottom: 30px;
    width: -webkit-calc(100% - 60px);
    width:    -moz-calc(100% - 60px);
    width:         calc(100% - 60px);
}

#taContent{
    height: 200px;
}

#btSend{
    background-color: gainsboro;
    border-radius: 5px;
    padding: 10px;
    font-family: 'Nunito', sans-serif;
    -webkit-box-shadow: 5px 5px 10px 0px rgba(179,179,179,0.67);
    -moz-box-shadow: 5px 5px 10px 0px rgba(179,179,179,0.67);
    box-shadow: 5px 5px 10px 0px rgba(179,179,179,0.67);
}

#btSend:hover{
    font-weight: bold;
    cursor: pointer;
}

input[type="checkbox"]:focus{
    outline:0;
}

input[type="checkbox"]{
    width: 15px; /*Desired width*/
    height: 15px; /*Desired height*/
    cursor: pointer;
    margin-right: 10px;    
}

.box{
    margin-left: 50px;
    margin-top: 30px;
}

ul {
    font-size: 22px;
    list-style:none;
    padding: 0px;
}

li:first-child {
    padding-left: 30px; 
    font-weight: bold;
}

li:first-child:hover {
    cursor:default;
    background: none;
}

li {
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 10px;
    display: inline-block;    
}

li {
    margin-bottom: 10px;
}

li:hover {
    background-color: gainsboro;  
    cursor: pointer;
}

#mailContent{
    margin-right: 50px;
    font-size: 22px;
    display: block;
}
#mailContent div {
    margin-bottom: 30px;
}

#emailHeader{
    width: 100%;
    display: inline-block;
}

#emailHeader span:first-child{
    font-weight: bold;
}

#emailHeader span:last-child{
    float: right;
    font-weight: bold;
}

#emailHeader span:nth-last-child(2){
    float: right;
    padding-left: 10px;
}

#emailSender span:first-child{
        font-weight: bold;

}
#emailReceiver span:first-child{
        font-weight: bold;

}
#emailContent span:first-child{
        font-weight: bold;

}


#mailList span {
    display: inline-block;
    width: 300px;
}


#heading{
    user-select: none;
    text-align: center;
    width: auto;
    padding: 10px;
    height: auto;
}
#heading h1{
    display: inline-block;
    width: auto;
}   

#webmailIcon {
    color: teal;
    position: relative;
    top: -5px;
    transform: scale(1.25) rotate(-45deg);
}

#function {
    position: relative;
    bottom: -10px;
    width: auto;
    padding: 20px;
    padding-bottom: 30px;
    height: auto;
    background-color: gainsboro;
    border-radius: 10px 10px 0px 0px;
}

#hiddenID {
    display: none;    
}

#mail {
    border-radius: 10px 0px 0px 0px; 
    position: relative;
    flex:70%;
    height: 550px;
    background-color: whitesmoke;
}
#composeButton{
    width: 150px;           
    display: inline-block;
    margin-left: 20px;
    margin-right: 130px;
    text-align: center;
    font-size: 25px; 
}
#composeButton:hover {
    font-weight: bold;
    cursor: pointer;
}

.dropdown {
    display: inline-block;
    position: relative;
}

.dropdown:hover .dropdown-item {
    display: block;
    cursor: pointer;
}

.dropdown-item { 
    border-radius: 5px;
    display: none;
    position: absolute;
    background-color: whitesmoke;
    min-width: 150px;
    left: 10px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;  
}

.dropdown-item div {
    padding: 10px;
    padding-left: 35px;
    padding-right: 35px;
}

.dropdown-item div:hover:first-child {
    background-color: gainsboro;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    font-weight: bold;
}

.dropdown-item div:hover {
    background-color: gainsboro;
    font-weight: bold;
    
}

.dropdown-item div:hover:last-child {
    background-color: gainsboro;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    font-weight: bold;
    
}

#moveToButton{
    width: 150px;           
    position: relative;
    display: inline-block;
    text-align: center;
    font-size: 25px; 
}

#arrows{
    position: relative;
    top: 8px;
    display: inline-block;
    float: right;
    margin-right: 50px;
}
    
.arrow{

    user-select: none;
    float: right;
    outline: none;
    color: teal;
    transform: scale(1.5);
    margin-left: 10px;
}
.arrow:focus{
    outline: none;
}

.arrow:hover {
    color: teal;
    cursor: pointer;
    transform: scale(1.8);
}

.email-line{
    display: inline-block;
}
.row {
    display: flex;
}

#mailbox {  
    flex:10%;
    padding: 20px;
    padding-top: 30px;
    height: 500px;
    background-color: gainsboro;
    border-radius: 0px 0px 0px 10px;
}

.mailbox-button {
    width: 150px;
    text-align: center;
    font-size: 25px;    
    display: inline-block;
    border-bottom: 3px solid;
    border-bottom-color: transparent;
    text-align: left;
    margin-bottom: 20px;
    margin-left: 20px;
}
.mailbox-button:hover {
    cursor: pointer;
    font-weight: bold;  
}

i{
    text-align: center;
    width: 30px;
    height: 30px;
}

.selected:hover {
    font-weight: bold;
    color: teal;
}
.selected {
    color: teal;
}

/*loading bar*/
#loading {
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 50px;
    height: 50px;
    color: white;
    border-style: solid;
    border-width: 3px;
    border-radius: 50%;
    border-bottom-color:teal;
    animation-name: loadingSpinnerAnimation;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes loadingSpinnerAnimation {
  25%   {
      transform:rotate(90deg) scale(0.9);
    }
  50%   {  
      transform:rotate(180deg) scale(1);
    }
  75%   {  
      transform:rotate(270deg) scale(0.9);
    }
  100% {
        transform:rotate(360deg);
    }
}

@-webkit-keyframes loadingSpinnerAnimation {
  25%   {
      transform:rotate(90deg) scale(0.9);
    }
  50%   {  
      transform:rotate(180deg) scale(1);
    }
  75%   {  
      transform:rotate(270deg) scale(0.9);
    }
    
  100% {
      transform:rotate(360deg);
    }
}

