html {
    font-family: 'Nunito', sans-serif;
    margin-left: 10%;
    margin-right: 10%;
    padding: 0px;  
}

button {
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    overflow: visible;
    background: transparent;
}

.box{
    margin-left: 50px;
    margin-top: 30px;
}

input{
    width: 30px;
    margin: 0px;
}

ul {
    font-size: 22px;
    list-style:none;
    padding: 0px;
}

li:first-child {
    padding-left: 30px; 
    font-weight: bold;
}

li:first-child:hover {
    cursor:default;
    background: none;
}

li {
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 10px;
    display: inline-block;
  
    
}

li {
    margin-bottom: 10px;
}

li:hover {
    background-color: gainsboro;  
    cursor: pointer;
}

span {
    display: inline-block;
    width: 300px;
}

#heading{
    user-select: none;
    text-align: center;
    width: auto;
    padding: 10px;
    height: auto;
}
#heading h1{
    display: inline-block;
    width: auto;
}   

#webmailIcon {
    color: teal;
    position: relative;
    top: -5px;
    transform: scale(1.25) rotate(-45deg);
}

#function {
    position: relative;
    bottom: -10px;
    width: auto;
    padding: 20px;
    padding-bottom: 30px;
    height: auto;
    background-color: gainsboro;
    border-radius: 10px 10px 0px 0px;
}

#hiddenID {
    display: none;    
}

#mail {
    border-radius: 10px 0px 0px 0px; 
    position: relative;
    flex:70%;
    height: 550px;
    background-color: whitesmoke;
}
#composeButton{
    width: 150px;           
    display: inline-block;
    margin-left: 20px;
    text-align: center;
    font-size: 25px; 
}
#composeButton:hover {
    font-weight: bold;
    cursor: pointer;

}

#moveToButton{
        width: 150px;           

    position: relative;
    display: inline-block;
    margin-left: 130px;
    text-align: center;
    font-size: 25px; 
}

#moveToButton:hover{
    font-weight: bold;
    cursor: pointer;
    
}
#arrows{
    position: relative;
    top: 8px;
    display: inline-block;
    float: right;
    margin-right: 50px;
}
    
.arrow{

    user-select: none;
    float: right;
    outline: none;
    color: teal;
    transform: scale(1.5);
    margin-left: 10px;
}
.arrow:focus{
    outline: none;
}

.arrow:hover {
    color: teal;
    cursor: pointer;
    transform: scale(1.8);
}

.email-line{
    display: inline-block;
}
.row {
    display: flex;
}

#mailbox {  
    flex:10%;
    padding: 20px;
    padding-top: 30px;
    height: 500px;
    background-color: gainsboro;
    border-radius: 0px 0px 0px 10px;
}

.mailbox-button {
    width: 150px;
    text-align: center;
    font-size: 25px;    
    display: inline-block;
    border-bottom: 3px solid;
    border-bottom-color: transparent;
    text-align: left;
    margin-bottom: 20px;
    margin-left: 20px;
}
.mailbox-button:hover {
    cursor: pointer;
    font-weight: bold;  
}

i{
    text-align: center;
    width: 30px;
    height: 30px;
}

.selected:hover {
    font-weight: bold;
    color: teal;
}
.selected {
    color: teal;
}

/*loading bar*/
#loading {
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 50px;
    height: 50px;
    color: white;
    border-style: solid;
    border-width: 3px;
    border-radius: 50%;
    border-bottom-color:teal;
    animation-name: loadingSpinnerAnimation;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes loadingSpinnerAnimation {
  25%   {
      transform:rotate(90deg) scale(0.9);
    }
  50%   {  
      transform:rotate(180deg) scale(1);
    }
  75%   {  
      transform:rotate(270deg) scale(0.9);
    }
  100% {
        transform:rotate(360deg);
    }
}

@-webkit-keyframes loadingSpinnerAnimation {
  25%   {
      transform:rotate(90deg) scale(0.9);
    }
  50%   {  
      transform:rotate(180deg) scale(1);
    }
  75%   {  
      transform:rotate(270deg) scale(0.9);
    }
    
  100% {
      transform:rotate(360deg);
    }
}

